<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% seo %}
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <a href="{{ '/' | relative_url }}">Start</a>
      <a href="{{ 'https://www.facebook.com/lz.hochlar' }}"" target="_blank">Aktuelles</a>
      <a href="{{ '/ueber-uns.html' | relative_url }}">Über uns</a>
      <a href="{{ 'https://www.kreis-re.de/Inhalte/Buergerservice/Leben_und_Wohnen/Feuerwehr-_und_Rettungsleitstelle/_Einsaetze_der_Feuerwehren/index.asp' }}" target="_blank">Einsätze</a>
      <a href="{{ '/tanz-in-den-mai.html' | relative_url }}">Tanz in den Mai</a>
      <a href="{{ '/kontakt.html' | relative_url }}">Kontakt</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p><a href="{{ '/datenschutz.html' | relative_url }}">Datenschutz</a>&nbsp;<a href="{{ '/impressum.html' | relative_url }}">Impressum</a>&nbsp; {{ site.time | date: '%Y' }} Feuerwehr Recklinghausen Löschzug Hochlar</p>
  </footer>
</body>
</html>
